#ex3:
	Pass 3 Fail 0 100.00%
#files:
	Pass 3 Fail 0 100.00%
#model:
	Pass 24 Fail 0 100.00%
#intro:
	Pass 18 Fail 0 100.00%
#secure:
	Pass 4 Fail 0 100.00%
#caching:
	Pass 53 Fail 0 100.00%
#interface:
	Pass 6 Fail 0 100.00%
#test:
	Pass 35 Fail 0 100.00%
