html
  head
    title Bootstrap 101 Template
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    block head
  body
    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js")
    script(src=Hop.hopjsURL)
    script(src=Hop.apiURL)
    script(src='js/bootstrap.min.js')
