extends layout

block head
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js")
	script(src=Hop.apiURL);
block content
	a(href=Hop.docURL) Documentation about the API
	p	
		| You an also use the API you've defined in your own JavaScript applications! 
		| Simply open the JavaScript console in your browser and type:
	div
		pre
			| //First lets create a user
			| UserService.create({ name: "user", password:"password", email:"email@email.com" },function(err,user){
			|		UserService.authenticate(user,function(err,user){
			|			console.log("Authenticated:"user);
			|	  });
			| });
